rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }
    function isAdmin() {
      return isAuthenticated() && request.auth.token.admin == true;
    }
    
    match /users/{userId} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated() && (request.auth.uid == userId || isAdmin());
    }
    
    match /tasks/{taskId} {
      allow read: if true;
      allow create, update, delete: if isAuthenticated();
    }
    
    match /taskSubmissions/{subId} {
      allow read: if isAuthenticated();
      allow create: if isAuthenticated();
      allow update: if isAuthenticated();
    }
    
    match /withdrawals/{wId} {
      allow read: if isAuthenticated();
      allow create: if isAuthenticated();
    }
    
    match /deposits/{dId} {
      allow read: if isAuthenticated();
      allow create: if isAuthenticated();
    }
    
    match /settings/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
